<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movies!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/logo.png') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="{{ path('home') }}" title="Go back home"><img src="{{ asset('img/logo.png') }}" alt="Movies!"> Movies!</a></h1>
        </header>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>